*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100%;
  background-image: url(assets/images/mobile_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background: #fff;
}

.desktop-nav {
  display: none;
}

.soc-icons {
  display: none;
}

/* *************************** */
.mobile-nav {
  position: fixed;
  background-color: #262626;
  height: 100vh;
  left: -100%;
  transition: 0.5s;
}

.mobile-nav a {
  color: white;
  text-decoration: none;
  margin-top: 1.6rem;
}

.mobile-nav.active {
  left: 0;
}

.mobile-navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 30px;
  font-weight: bold;
  font-size: 2.6rem;
  background: #000;
}

/* **************************** */
.mob-bars {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 40px;
  height: 82px;
  gap: 50px;
  box-shadow: rgb(0 0 0 / 30%) 0 2px 8px 0;
}

.toggle-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle {
  cursor: pointer;
}

.toggle i {
  font-weight: normal;
  font-size: 2rem;
}

.logo {
  font-family: 'Bungee Spice', cursive;
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
}

.homepage {
  width: 85%;
  margin: auto;
  margin-top: 2rem;
}

.hero-head {
  font-weight: normal;
  font-size: 1.6rem;
  margin: 1rem auto;
}

.hero-intro {
  font-weight: 900;
  font-size: 2rem;
}

.hero-head,
.hero-intro {
  color: rgba(248, 10, 10, 0.7);
}

.h-text {
  border: 3px solid #fff;
  padding: 0.8rem 0.8rem;
  margin: 1.8rem auto;
  line-height: 1.6rem;
  font-family: 'Lato', sans-serif;
}

.date {
  font-weight: 900;
  font-size: 1.6rem;
  margin: 0.9rem auto;
  color: #272a31;
}

.location {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  margin-bottom: 3rem;
}

/* Main - Program */
.main-program {
  background: #272a31;
  width: 100vw;
  background-image: url(assets/images/bg_pattern.png);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  color: white;
  font-size: 2.1rem;
}

.hr,
.hr-2 {
  margin-top: 15px;
  background: #ec5242;
  border: none;
  width: 50px;
  height: 2px;
}

.features {
  margin-top: 2rem;
  padding-left: 0;
  gap: 5px;
}

.feature-1,
.feature-2,
.feature-3,
.feature-4,
.feature-5 {
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 0.6rem;
  margin: 0;
  margin-top: 1.6rem;
  padding-left: 0.8rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.feature-1:hover,
.feature-2:hover,
.feature-3:hover,
.feature-4:hover,
.feature-5:hover {
  border: 1px solid #d3d3d3;
}

.f-title {
  display: flex;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  color: #ec5242;
}

.f-text {
  color: #fff;
  font-size: 0.9rem;
}

.btn {
  background: #ec5242;
  color: #fff;
  margin: 3rem;
  width: 90%;
  height: 4rem;
  font-size: 1rem;
  border: none;
  padding: 0 2rem;
}

/* //////////////////////////// */
.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.featured-title {
  color: #272a31;
  font-size: 1.8rem;
}

.speakers {
  margin-top: 2rem;
  width: 100%;
  padding-left: 0.8rem;
  padding-right: 0.4rem;
}

.speaker-1,
.speaker-2,
.speaker-3,
.speaker-4,
.speaker-5,
.speaker-6 {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.about-speaker {
  padding-top: 0.2rem;
}

.img {
  height: 150px;
}

.speaker-name {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.speaker-position {
  margin-bottom: 0.4rem;
  font-style: italic;
  color: #ec5242;
  font-size: 0.7rem;
  font-weight: bold;
}

.hr-1 {
  width: 40px;
  margin: 0.5rem 0;
}

.speaker-ach {
  font-size: 0.8rem;
}

.show {
  display: none;
  width: 90%;
  height: 45px;
  font-weight: normal;
  font-size: 1.2rem;
  background: #fff;
  border: 1px solid gold;
  margin-top: 2rem;
}

/* ///////////////////////////// */
.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  background: #272a31;
}

.partner-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 1.5rem;
  margin: 2rem auto;
}

.partner {
  margin: 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: #d3d3d3;
  margin-bottom: 0.2rem;
}

.p-icon {
  width: 85px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hr-2 {
  margin-top: 0;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  font-weight: normal;
  padding: 0 1rem;
  gap: 3rem;
}

@media only screen and (min-width: 768px) {
  .desktop-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 30%) 0 2px 8px 0;
    padding: 0 17rem;
    height: 102px;
  }

  .soc-icons {
    background: #272a31;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 20rem;
    gap: 0.8rem;
    height: 1.8rem;
  }

  .container {
    height: 100%;
    background: url(assets/images/mainbig.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .show {
    display: none;
  }

  .soc-icons a {
    color: #d3d3d3;
    text-decoration: none;
  }

  .mobile-nav {
    display: none;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    gap: 25rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .live {
    border: 4.5px solid #ec5242;
    height: 2.9rem;
    width: 7rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .live:hover {
    border-color: gold;
  }

  .nav-links {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.6rem;
    white-space: nowrap;
    color: #272a31;
  }

  .nav-link:hover {
    background: rgb(238, 236, 236);
    color: #ec5242;
    border-top: 1px solid #ec5242;
    transition: 0.5s;
  }

  .mob-bars {
    display: none;
  }

  .hero-head {
    font-size: 2rem;
    margin-top: 6rem;
  }

  .hero-intro {
    margin-top: 2rem;
    font-size: 3rem;
  }

  .homepage {
    padding: 0 8rem;
    height: 100%;
  }

  .h-text {
    text-align: left;
    align-self: start;
    background: #d3d3d3;
    width: 60%;
    line-height: 1.8rem;
    margin-left: 0;
    margin-top: 3rem;
    font-weight: 400;
    font-size: 1.1rem;
  }

  .date {
    margin-top: 3rem;
    font-size: 2rem;
  }

  .location {
    margin-top: 1.2rem;
    font-size: 1.2rem;
    font-weight: normal;
  }

  .main-program {
    padding: 2rem 15rem;
  }

  .featured {
    margin-top: 2rem;
  }

  .features {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.3rem;
  }

  .feature-1,
  .feature-2,
  .feature-3,
  .feature-4,
  .feature-5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    padding-left: 0;
  }

  .f-title {
    font-weight: bold;
    white-space: nowrap;
  }

  .f-title br {
    display: none;
  }

  .f-text {
    text-align: center;
    font-size: 1.1rem;
    padding: 0.3rem;
  }

  .btn {
    background: none;
  }

  .speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15rem;
  }

  .speaker-name {
    font-size: 1.6rem;
  }

  .speaker-position {
    font-size: 1rem;
  }

  .speaker-ach {
    font-size: 1rem;
  }

  .partners {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .partner-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    background: rgb(245, 245, 245);
  }

  .footer {
    display: flex;
    flex-direction: row;
    gap: 10rem;
  }
}
